:root body {
  background-color: white;
  font-family: 'Assistant', sans-serif;
}
.div{
  left:0;
}
h1{
  font-size: 100px;
  color: #C4D9D7;
}

p{
  font-size: 30px;
  color: white;
}

.container{
  display: block;
  align-items: center;
  position: absolute;
  height: 2000px;
}
.first{
  height: 600px;
  width: 100%;
  position: absolute;
  background-color: #faf5f0;
  top: 100px;
  left: 0;
}

.wordbox{
  position: relative;
  background-color: #faf5f0;
  height: auto;
  width: 600px;
  left: 0;
  top: 75px;
}

.title{
  color: black;
  font-family:'Belleza', sans-serif;
  font-size: 150px;
  font-weight: 100;
  position: relative;
  left:100px;
  line-height: 120px;
  padding-top: 50px;
  background-color: #faf5f0;
}

.text1{
  color: black;
  font-size: 35px;
  position: absolute;
  left: 0;
  top: -30px;
  width: 550px;

}

.text2{
  color: black;
  font-size: 35px;
  position: absolute;
  left: 350px;
  top: 350px;
  width: 550px;
}

.circle1{
  height:200px;
  width: 200px;
  background-color: #f0e9e1;
  position: absolute;
  top:60px;
  left:650px;
  border-radius: 100%;
  border: 5px solid white;
}

.circle2{
  height:200px;
  width: 200px;
  background-color: #f0e9e1;
  position: absolute;
  top:100px;
  left:650px;
  border-radius: 100%;
  border: 5px solid;
}

.second{
  height: 600px;
  width: 100%;
  position: absolute;
  background-color: #d1b297 ;
  top:800px;
  left: 0;
}

.about-text1{
  position: relative;
  height: auto;
  width: 30px;
  margin: 0 auto;
  top: 40px;
  right: 350px;
}

.about-text2{
  position: relative;
  height: auto;
  width: 400px;
  margin: 0 auto;
  bottom: 80px;
  align-items: center;
}

.about{
  writing-mode:vertical-lr;
  text-orientation: upright;
}

.third{
  background-color: blue;
  width: 100%;
  position: absolute;
  top: 1200px;
  height: 500px;
  left: 0;

}

.contactbox{
  height: 200px;
  width: 100%;
  position: absolute;
  background-color: #d1b297 ;
  top: 2000px;
  left: 0;
  justify:flex;
  align-items: center;
}

  .logo{
    height: 100px;
    width: 300px;
    background-color: white;
    position: relative;
    left:350px;

  }

.linkedin{
    position: relative;

  }

.envelope{
    position: relative;
  }

.Copyright{
  font-size: 50px;
}
